/* ===== Nav styles ==== */

.nav, .navbar-default, .navbar-default input[type="text"]{
  background-color: transparent;
  border: none;
}

.navbar-default input[type="text"]{
  box-shadow: none;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.52);
  left: 15px;
}
#nav-search{
  width: 20%;
  position: relative;
  top: 7px;
}

#nav-search button{
  height: 34px;
  background-color: transparent;
  color: white;
  border: none;
}
#nav-search i, #nav-search i:active, #nav-search i:focus{
  box-shadow: none;
}

#addIcon{
  color: white;
  position: absolute;
  top: 20px;
  right: 75%;
  font-weight: 100;
}

#searchIcon{
  position: absolute;
  top: 10px;
  color: white;
}

body{
  background-image:linear-gradient(to bottom, #36b9e4, #08e2bf);
}

/* ===== View: Search Styles ===== */

.jumbotron{
  background-color: transparent;
  /*box-shadow: 1px 1px 4px rgba(96, 96, 97, 0.51);*/
  color: white;
}

#pre-output,#pre-output h1,#pre-output span{
  text-align: center;
  font-size: 10rem;
}

#pre-output h1{
  font-weight:100;
  letter-spacing: -.1rem;
}
#pre-output span{
  font-weight:200;
  letter-spacing: -.65rem;
}

.search-subtitle{
  font-size: 1.8rem;
  text-align: center;
  position: relative;
  margin-top: 0px;
  top: -20px;
  font-weight: 100;
  letter-spacing: .09rem;
}

.search-verse, .search-verseheading{
  position: relative;
  top: -7px;
  font-weight: 300;
  letter-spacing: .09rem;
}

.search-verse{
  font-size: 1.8rem;
  font-weight: 200;
  letter-spacing: .09rem;
}
.search-verseheading{
  font-size: 2rem;
}
/* modal */
.modal-header{
  background-color: white;
  color: #36B9E4;
  border-radius: 5px 5px 0px 0px;
  text-align: center;
}

.modal-body input{
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid rgba(54, 185, 228, 0.35);
  box-shadow: inset 0px 0px 0px 0px transparent;
  border-radius: 2px 2px 0px 0px;
}

.modal-header h4{
  font-weight: 300;
}
.modal-footer{
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  border-top: none;
}
.ftr_btn{
  background-color: #36b9e4;
  color: white;
  border: none;
}

.modal-backdrop{
  background-color: rgba(11, 11, 11, 0.4);
}
.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
    -o-box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
    box-shadow: 0 5px 15px rgba(98, 98, 98, 0.5);
}

.modal-footer button:hover{
  background-color: #36b9e4;
  color: white;
}


/* Vender modifications */
.navbar-default input[type="text"]::webkit-input-placeholder{
  color: white;

}

.navbar-default input[type="text"]::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;

}
.navbar-default input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: white;

   opacity:  1;
}
.navbar-default input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: white;

   opacity:  1;
}
.navbar-default input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: white;

}
.navbar-default input[type="text"]:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color: white;

}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
i:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}


/* media queries */

@media screen and (max-width: 900px){
  #nav-search {
    width: 80%;
  }
  #addIcon{
    color: white;
    position: absolute;
    top: 20px;
    right: 0px;
    font-weight: 100;
  }
  #pre-output,#pre-output h1,#pre-output span{
    text-align: center;
    font-size: 6rem;
  }
  #pre-output h1{
    letter-spacing: -.1rem;
  }
  #pre-output span{
    letter-spacing: -.05rem;
  }
  #searchIcon{
    left: -8px;
  }
  .navbar-default input[type="text"]{
    left: 0px;
  }
}
