<!-- search output -->
<div ng-controller="searchCtrl as search">
  <nav class="navbar navbar-default animated fadeInUp">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
        <div class="col-md-12">
          <div id="nav-search" class="input-group">
            <i id="searchIcon" class="glyphicon glyphicon-search" ng-click="search.outputTags(search.searchTag)"></i>
              <input type="text" ng-model="search.searchTag" class="form-control" placeholder="Search for tags" name="q" ng-keypress='search.outputTagsKeypress($event, search.searchTag)'>
          </div>
        </div>
    </div><!--/.container-fluid -->
  </nav><!--/ nav -header -->

  <div class="container-fluid">
    <div class="col-md-12 jumbotron">
      <div ng-hide="search.userSearched" id="pre-output">
        <h1 class="animated fadeIn">Bible<span>Tags</span></h1>
      </div>
      <div class="animated fadeIn" ng-show="search.userSearched" id="search-Output">
        <h1 class="search-subtitle">Result tag title</h1>
        <h3 class="search-verseheading">Verse/passage ref: </h3>
        <h3 class="search-verse">loreum ipsum  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</h3>
      </div>
    </div>
  </div>

  </div>
