<!-- search output -->
<div ng-controller="searchCtrl as search">
  <nav class="navbar navbar-default animated fadeInUp">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
        <div class="col-md-12">
          <div id="nav-search" class="input-group">
            <i id="searchIcon" class="glyphicon glyphicon-search" ng-click="search.outputTags(search.searchTag)"></i>
              <input type="text" ng-model="search.searchTag" class="form-control" placeholder="Search for tags" name="q" ng-keypress='search.outputTagsKeypress($event, search.searchTag)'>
          </div>
        </div>
    </div><!--/.container-fluid -->
  </nav><!--/ nav -header -->

  <div class="container-fluid">
    <div class="col-md-12 jumbotron">
      <div ng-hide="search.userSearched" id="pre-output">
        <h1 class="animated fadeIn">Bible<span>Tags</span></h1>
      </div>
      <div class="animated fadeIn" ng-show="search.userSearched" id="search-Output">
        <h1 class="search-subtitle">{{search.searchedText}}</h1>
        <h3 class="search-verseheading">{{search.book_name+" "+search.chapter_id+" : "+ search.verse_id}} </h3>
        <h3 class="search-verse">{{verse_text}}</h3>
      </div>
    </div>
  </div>

  </div>
